.weather-container {
  background-color: #003049;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.weather-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem
}

.app-bg {
  background-color: #fff;
  color: #000;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  width: 380px !important;


}

.weather-container h3 {
  font-size: 1rem;
}